* {
    margin: 0;
    padding: 0;
    margin: 0 auto;


}

.full_screen  {
    margin-top: 215px;
    width: 1280px;
    display: block;

}
.profile a,
.follow a,
.following a {
    text-decoration: none;
    color: inherit;
}

/* ------------------------- profile------------------------  */
.profile {
    width: 1200px;
    height: 150px;
    display: flex;
    justify-content: space-between;

}


.profile_img{
    width: 150px;
    height: 150px;
    object-fit: cover;

    
}
.profile_img img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100px;
}
.profile_text {
    padding-top: 10px;
    width: 1000px;
    height: 100%;

}
.profile_head{
    height: 36px;
    margin: 0;
    padding-left: 10px;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
}
.follow_btn{
    background-color: black;
    color: white;
    font-size: 10px;
    width: 45px;
    height: 25px;
    margin-left: 10px;
    border-radius: 10px;
}
.follow_following {
    height: 36px;
    font-size: 12px;
    display: inline-flex;
    align-items: center;

}
.follow {
    width: 80px;
    display: flex;


}
.following {
    width: 80px;
    display: flex;

}

.profile_information {
    height: 36px;
    margin: 10px 0 10px 0;
    padding-left: 10px;
    font-size: 12px;
    align-items: center;

}

/* -----------------------postlist,taglist ------------------------ */
.post_tag {
    border-bottom: 1px solid #B5B6B5;
width: 1200px;
height: 45px;
padding: 20px 0 0 0;
font-size: 20px;
text-align: left;

}
.postlist span,
.taglist span{
  margin: 10px;
}

.postlist:hover,
.taglist:hover {
    cursor: pointer;
}
.postlist a,
.taglist a{
    text-decoration: none;
    color: initial;
}
/* -------------------sns_container---------------- */
.sns_container{
    width: 100%;
    max-width: 1280px;
    height: auto;
    display: flex;

}


.detail_page_review_list_body {
    width: 100%;
    max-width: 1280px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    


}

.detail_page_review_list_item {

    width: 288px;
    height: 400px;
    
    text-align: center;

}

.detail_page_review_list_item_img img {
    width: 288px;
    height: 288px;
    margin-top: 10px;
    object-fit: contain;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    
}

/* -------------------리뷰 리스트 --------------- */


.detail_page_review_list_item{
    list-style: none;
    width: 288px;
    height: 380px;
    
}


.detail_page_review_content {
    width: 100%;
    padding: 0;

}

.detail_page_review_title {
    width: 262px;
    padding: 0;
    height: 28px;
    margin-top: 5px;
    display: flex;

}

.detail_page_review_title_img {
    justify-content: center;
    border-radius: 100px;
    width: 28px;
    height: 28px;

}

.detail_page_review_title_id {
    width: 75%;
    margin-left: 5px;

}

.detail_page_review_title_like {

    /* 만약 좋아요 script 기능 한 후 아이콘 벗어날 시 
    위의 아이디와 라이크 width 조정하거나 다시 정렬 */

}

.detail_page_review_body_tag {
    width: 100%;
    font-size: 13px;
    margin-top: 10px;
}


