.Styleprofile_full_screen {
    margin: 0 auto;
    padding: 0;
    margin-top: 215px;
    width: 1280px;
    display: block;


}


/* -----------------------postlist,taglist ------------------------ */
.Styleprofile_post_tag {
    margin: 20px 0 0 20px;
    border-bottom: 1px solid #B5B6B5;
    width: 1280px;
    height: 45px;
    padding: 20px 0 0 0;
    font-size: 20px;
    text-align: left;
    gap: 30px;

}

.Styleprofile_postlist,
.Styleprofile_taglist {
    margin-left: 10px;
}

.Styleprofile_postlist:hover,
.Styleprofile_taglist:hover {
    cursor: pointer;
}

.Styleprofile_postlist.active, 
.Styleprofile_taglist.active {
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 10px;
}