<!DOCTYPE html>
<html lang="kr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./buy.css">
  <title>결제</title>
</head>

<body>
  <div class="container">
    <div id="content" class="-frame">
      <section class="contentwrap">
        <div class="contentwraptitle"> 결제</div>
        <div class="contentframe">
          <div>
            <div>
              <div class="spacebetween basic">
                <div class="frametitle">배송주소</div>
                <div class="addresschange">
                  <a href="" title="Button border" class="btnFade btnHover">주소변경</a>
                </div>
              </div>
              <div>

              </div>
              <div class="spacebetween basic">
                <div>받는분</div>
                <div class="name">강인구</div>
              </div>
              <div class="spacebetween basic">
                <div>연락처</div>
                <div class="callnumber">010-1234-5678</div>
              </div>
              <div class="basic">
                <div>주소</div>
                <div class="addressdetail">[00000] 서울특별시 구로구 구로동 구로구로 구로구로구로 9595</div>
              </div>
              <div class="selectbox">
                <select name="" id="">
                  <option value="">없음</option>
                  <option value="">경비실에 맡겨주세요</option>
                  <option value="">문앞에 놓으세요</option>
                  <option value="">직접입력</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="contentframe">
          <div class="spacebetween basic">
            <div class="frametitle">주문상품</div>
            <div>총 <strong>0</strong>건</div>
          </div>
          <div>

            <div class="prdBox basic">
              &nbsp;
              <div class="thumbnail">
                <a href="">
                  <img src="" alt width="140" height="140">
                </a>
              </div>
              <div class="description">
                <strong class="manufacturer" title="제조사">
                  [제조사]
                </strong>
                <strong class="itemname" title="상품명">
                  레알마드리드
                </strong>
                <ul class="price">
                  <li>
                    <strong>150000</strong>
                    원
                  </li>
                </ul>
                <ul class="info">
                  <li>
                    배송 :
                    <span class="delivery">3000원</span>
                  </li>
                  <li>
                    적립금 :
                    <span class="mileage">300원</span>
                  </li>
                </ul>
                <ul class="optional">
                  <li>옵션1</li>
                </ul>
              </div>
              <div class="sumprice">
                <strong>
                  0
                </strong>
                원
              </div>
            </div>


            <div class="prdBox basic">
              &nbsp;
              <div class="thumbnail">
                <a href="">
                  <img src="" alt width="140" height="140">
                </a>
              </div>
              <div class="description">
                <strong class="manufacturer" title="제조사">
                  [제조사]
                </strong>
                <strong class="itemname" title="상품명">
                  레알마드리드
                </strong>
                <ul class="price">
                  <li>
                    <strong>150000</strong>
                    원
                  </li>
                </ul>
                <ul class="info">
                  <li>
                    배송 :
                    <span class="delivery">3000원</span>
                  </li>
                  <li>
                    적립금 :
                    <span class="mileage">300원</span>
                  </li>
                </ul>
                <ul class="optional">
                  <li>옵션1</li>
                </ul>
              </div>
              <div class="sumprice">
                <strong>
                  0
                </strong>
                원
              </div>
            </div>


          </div>
        </div>
        <div class="contentframe">
          <div class="frametitle basic">할인쿠폰</div>
          <div class="selectbox">
            <select name="" id="">
              <option value="">없음</option>
              <option value="">경비실에 맡겨주세요</option>
              <option value="">문앞에 놓으세요</option>
              <option value="">직접입력</option>
            </select>
          </div>
        </div>
        <div class="contentframe">
          <div class="frametitle basic">포인트</div>
          <div class="basic">
            <input type="text" class="pointinput">
          </div>
          <div class="flex basic">
            <div>보유포인트</div>
            <div class="money">
              <strong>0</strong>
              원</div>
          </div>
          <!-- <div class="basic">보유포인트</div> -->
        </div>
        <div class="contentframe">
          <div class="frametitle basic">결제방식</div>
          <div class="spacebetween basic">
            <div>ㅋ</div>
            <div>ㅋ</div>
          </div>
        </div>
        <div class="contentframe">
          <div class="frametitle basic">최종주문정보</div>
          <div class="spacebetween basic">
            <div>구매가</div>
            <div>0원</div>
          </div>
          <div class="spacebetween basic">
            <div>쿠폰 사용</div>
            <div>0원</div>
          </div>
          <div class="spacebetween basic">
            <div>포인트 사용</div>
            <div>0원</div>
          </div>
          <div class="spacebetween basic">
            <div>총 결제금액</div>
            <div>0원</div>
          </div>
        </div>
        <div class="contentframe ">
          <div class="spacebetween basic">
            <div>적립 예정 포인트</div>
            <div>0원</div>
          </div>
        </div>
        <div class="contentframe basic">결제하기</div>
      </section>
</body>

</html>