/* -------------------sns_container---------------- */
.Styleprofile_sns_container{

    width: 1280px;
    margin: 0 auto;
    padding: 0;
    
}


.Styleprofile_detail_page_review_list_body {

    width: 100%;
    max-width: 1280px;
    gap: 20px; /* 각 아이템 사이의 간격 */
    margin: 0 auto;
    padding: 0;
    list-style: none; /* 기본 리스트 스타일 제거 */

    display: flex;
    flex-wrap: wrap; 

}


.Styleprofile_detail_page_review_list_item {
    width: 300px;
    height: 380px;
    list-style: none; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Styleprofile_detail_page_review_list_item:hover {
    cursor: pointer;
}

.Styleprofile_detail_page_review_list_item_img img {
    width: 262px;
    height: 262px;
    margin-top: 10px;
    object-fit: contain;
    border-radius: 20px;
   
}

/* -------------------리뷰 리스트 --------------- */


.Styleprofile_detail_page_review_content {
    width: 90%;
    padding: 0;

}

.Styleprofile_detail_page_review_title {
    width: 100%;
    padding: 0;
    height: 32px;
    margin-top: 5px;
    display: flex;
    align-items: center;

}

.Styleprofile_detail_page_review_title_img {

    border-radius: 100px;
    width: 30px;
    height: 30px;


}

.Styleprofile_detail_page_review_title_id {
    width: 70%;
    margin-left: 10px;
    font-size: 18px;
}   

.Styleprofile_detail_page_review_title_like {

    /* 만약 좋아요 script 기능 한 후 아이콘 벗어날 시 
    위의 아이디와 라이크 width 조정하거나 다시 정렬 */

}

.Styleprofile_detail_page_review_body_tag {
    width: 100%;
    font-size: 12px;
    margin-top: 10px;
}

