.displaynone {
  display: none !important;
}

body.eMobilePopup {
  overflow: hidden;
  position: fixed;
}

.ec-base-label {
  display: inline-block;
  margin-right: 5px;
}

.ec-base-label img {
  vertical-align: middle;
}

.gridContainer .gridItem {
  min-width: 0;
}

.ec-solution-box {
  padding: 20px;
  border: 5px solid #e8e8e8;
  color: #404040;
}

.ec-solution-box.gHalf {
  position: relative;
  padding: 20px 0;
}

.ec-solution-box.gHalf:before {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  content: "";
  width: 1px;
  height: 100%;
  background-color: #e6e6e6;
}

.ec-solution-box.typeBg {
  background-color: #fbfafa;
}

.ec-solution-box.typeThin {
  border-width: 1px;
  border-color: #d7d5d5;
}

.ec-solution-box.typeThinBg {
  border-width: 1px;
  border-color: #d7d5d5;
  background-color: #fbfafa;
}

.ec-solution-box.typeThinBg > .agree {
  padding: 20px;
  border: 1px solid #e6e6e6;
  background: #fff;
}

.ec-solution-box.typeThinBg > .agree p {
  padding: 0 0 17px;
}

.ec-solution-box.typeMember {
  padding: 0;
}

.ec-solution-box.typeMember .information {
  display: table;
  table-layout: fixed;
  padding: 10px 0;
  width: 100%;
  box-sizing: border-box;
}

.ec-solution-box.typeMember .information > .title,.ec-solution-box.typeMember .information > .thumbnail {
  display: table-cell;
  padding: 0 15px;
  width: 70px;
  text-align: center;
  vertical-align: middle;
}

.ec-solution-box.typeMember .information > .title {
  vertical-align: middle;
}

.ec-solution-box.typeMember .information > .thumbnail img {
  max-width: 70px;
}

.ec-solution-box.typeMember .information .description {
  display: table-cell;
  padding: 0 10px;
  width: auto;
  line-height: 1.5em;
  border-left: 1px solid #e8e8e8;
  vertical-align: middle;
}

.ec-solution-box.typeMember.gMessage {
  border-width: 1px;
  border-color: #d7d5d5;
}

.ec-solution-box .message {
  display: block;
  padding: 10px 0 10px 35px;
  border-bottom: 1px solid #e8e7e7;
  background: #fbfbfb url("//img.echosting.cafe24.com/skin/base/common/ico_info.gif") no-repeat 10px center;
}

.ec-solution-box.typeProduct {
  display: table;
  table-layout: fixed;
  padding: 15px 0;
  width: 100%;
  box-sizing: border-box;
}

.ec-solution-box.typeProduct .thumbnail,.ec-solution-box.typeProduct .information {
  display: table-cell;
  padding: 0 20px;
  vertical-align: middle;
}

.ec-solution-box.typeProduct .thumbnail {
  width: 100px;
}

.ec-solution-box.typeProduct .thumbnail img {
  max-width: 90px;
  border: 1px solid #d7d5d5;
}

.ec-solution-box.typeProduct .information {
  padding-left: 0;
}

.ec-solution-button {
  padding: 10px 0;
  text-align: center;
}

.ec-solution-button.justify {
  position: relative;
}

.ec-solution-button:after {
  display: block;
  content: "";
  clear: both;
}

.ec-solution-button .gLeft {
  float: left;
  text-align: left;
}

.ec-solution-button .gRight {
  float: right;
  text-align: right;
}

.ec-solution-button.justify .gLeft {
  position: absolute;
  left: 0;
}

.ec-solution-button.justify .gRight {
  position: absolute;
  right: 0;
}

.ec-solution-button .text {
  margin: 0 6px 0 10px;
  color: #353535;
  line-height: 24px;
}

.ec-solution-button.typeBorder {
  margin-top: -1px;
  padding: 10px 20px;
  border: 1px solid #d7d5d5;
}

.ec-solution-button.typeBG {
  padding: 10px 20px;
  border: 1px solid #d7d5d5;
  background: #fbfafa;
}

.ec-solution-layer li {
  list-style: none;
}

.ec-solution-layer table {
  width: 100%;
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
}

.ec-solution-layer caption {
  display: none;
}

.ec-solution-layer h1,.ec-solution-layer h3 {
  margin: 0;
}

.ec-solution-layer {
  position: absolute;
  z-index: 100;
  border: 1px solid #757575;
  background: #fff;
}

.ec-solution-layer .header {
  padding: 7px 35px 7px 19px;
  color: #fff;
  background: #495164;
}

.ec-solution-layer .header > h1,.ec-solution-layer .header > h3 {
  font-size: 14px;
  line-height: 1.5;
}

.ec-solution-layer .content {
  padding: 20px;
  font-size: 12px;
}

.ec-solution-layer div.ec-solution-help {
  margin-top: 0;
}

.ec-solution-layer .ec-solution-button {
  padding: 9px;
  border-top: 1px solid #d7d5d5;
  text-align: center;
  background: #fbfafa;
}

.ec-solution-layer .close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 11px 20px;
  cursor: pointer;
}

.ec-solution-layer .ec-solution-table table [id*="Msg"].error {
  color: #f00;
}

#popup .ec-solution-layer {
  position: relative;
  border: 0;
}

#popup .ec-solution-layer .header {
  padding: 12px 35px 12px 19px;
}

#popup .ec-solution-layer .close {
  top: 5px;
}

.ec-solution-layer .content > .ec-solution-table table:first-child {
  margin-top: 0;
}

.ec-solution-layer .ec-solution-table table {
  line-height: 1.4;
}

.ec-solution-layer .ec-solution-table thead th {
  padding: 9px 0 8px;
}

.ec-solution-layer .ec-solution-table tbody th {
  padding: 9px 0 8px 10px;
}

.ec-solution-layer .ec-solution-table td {
  padding: 9px 10px 8px;
}

.ec-solution-layer .ec-solution-table.typeWrite td {
  padding: 5px 10px 4px;
}

.ec-solution-layer .ec-solution-table.typeList tfoot td {
  padding: 10px 10px 12px;
}

.ec-solution-layer .ec-solution-table.typeBorder tfoot td {
  padding: 10px 10px 12px;
}

.ec-solution-table table {
  position: relative;
  margin: 10px 0 0;
  border: 1px solid #d7d5d5;
  border-top-color: #fff;
  color: #fff;
  line-height: 1.5;
}

.ec-solution-table.gLayoutFixed table {
  table-layout: fixed;
}

.ec-solution-table.gLayoutFixed .gLayoutAuto table {
  table-layout: auto;
}

.ec-solution-table table:before {
  position: absolute;
  top: 1px;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background: #d7d5d5;
}

.ec-solution-table thead th {
  padding: 11px 0 10px;
  border-left: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  color: #353535;
  vertical-align: middle;
  font-weight: normal;
  background: #fbfafa;
}

.ec-solution-table tbody th {
  padding: 11px 0 10px 18px;
  border: 1px solid #dfdfdf;
  border-bottom-width: 0;
  color: #353535;
  text-align: left;
  font-weight: normal;
  background-color: #fbfafa;
}

.ec-solution-table th:first-child {
  border-left: 0;
}

.ec-solution-table td {
  padding: 11px 10px 10px;
  border-top: 1px solid #dfdfdf;
  color: #353535;
  vertical-align: middle;
}

.ec-solution-table td.clear {
  padding: 0 !important;
  border: 0 !important;
}

.ec-solution-table.typeWrite td {
  padding: 8px 10px 7px;
}

.ec-solution-table.typeList table {
  border-top-color: #d7d5d5;
}

.ec-solution-table.typeList table:before {
  display: none;
}

.ec-solution-table.typeList td {
  padding: 8px 10px 7px;
}

.ec-solution-table.typeList tfoot td {
  padding: 15px 10px 17px;
  background: #fbfafa;
}

.ec-solution-table .message {
  border: 1px solid #d7d5d5;
  padding: 50px 0;
  text-align: center;
  color: #757575;
  font-weight: bold;
}

.ec-solution-table table + .message {
  margin: -1px 0 0;
}

.ec-solution-table table td.message {
  padding: 50px 0;
}

.ec-solution-table .scroll .message {
  border: 0;
}

.ec-solution-table.typeList .head td {
  padding: 11px 0 10px;
  border-left: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  color: #353535;
  vertical-align: middle;
  text-align: center;
  background: #fbfafa;
}

.ec-solution-table.typeList .head td:first-child {
  border-left: 0;
}

.ec-solution-table.typeList .scroll {
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 185px;
  min-height: 100px;
  border: 1px solid #d7d5d5;
  border-top-width: 0;
  margin-top: -1px;
}

.ec-solution-table.typeList .scroll table {
  border: 0;
  margin: 0;
}

.ec-solution-table.typeList .scroll table:before {
  display: none;
}

.ec-solution-table.typeList .scroll .message {
  border: 0;
}

.ec-solution-table thead.blind,.ec-solution-table thead.blind th {
  display: none;
}

.ec-solution-table thead.blind + tbody tr:first-child th,.ec-solution-table thead.blind + tbody tr:first-child td {
  border-top-width: 0;
}

.ec-solution-table.typeList.gLine table {
  border-width: 0;
  border-bottom-width: 1px;
}

.ec-solution-table.typeClear table:before {
  display: none;
}

.ec-solution-table.typeClear table,.ec-solution-table.typeClear th,.ec-solution-table.typeClear td {
  border: 0 none;
  background: none;
}

.ec-solution-table.typeClear th {
  font-weight: bold;
}

.ec-solution-table.gBorder td {
  border-left: 1px solid #dfdfdf;
}

.ec-solution-table.gBorder td:first-child {
  border-left: 0;
}

.ec-solution-table .left {
  text-align: left;
}

.ec-solution-table .center {
  text-align: center;
}

.ec-solution-table .right {
  text-align: right;
}

.ec-solution-table.typeList .center td,.ec-solution-table.typeList td.center {
  padding-left: 0;
  padding-right: 0;
}

.ec-solution-table.typeList .center td.left {
  padding-left: 10px;
}

.ec-solution-table.typeList .center td.right {
  padding-right: 10px;
}

.ec-solution-table .top th,.ec-solution-table th.top,.ec-solution-table .top td,.ec-solution-table td.top {
  vertical-align: top;
}

.ec-solution-table .middle th,.ec-solution-table th.middle,.ec-solution-table .middle td,.ec-solution-table td.middle {
  vertical-align: middle;
}

.ec-solution-table img {
  vertical-align: middle;
}

@media print {
  .ec-solution-table table:before {
      display: none;
  }
}

.certifyBox {
  width: 100%;
  font-size: 13px;
  font-family: "맑은 고딕","Malgun Gothic",Dotum,돋움,arial,verdana,sans-serif;
  letter-spacing: -1px;
  border: 1px solid #D6DAE1;
  color: #444B59;
  background-color: #fff;
}

.certifyBox .boxArea {
  position: relative;
}

.certifyBox .progress {
  background-color: #FEEEF0;
}

.certifyBox .direct {
  background-color: #F4F9FF;
}

.certifyBox .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 34px;
  left: 33px;
  transform: translate(0,-50%);
  -webkit-transform: translate(0,-50%);
}

.certifyBox .message {
  display: inline-block;
  padding: 24px 24px 24px 52px;
  line-height: 20px;
}

.certifyBox .message strong {
  font-weight: 700;
  color: #444B59;
}

.certifyBox .btnTxt {
  position: absolute;
  top: 34px;
  right: 48px;
  line-height: 20px;
  height: auto;
  font-size: 13px;
  color: #1B1E26;
  transform: translate(0,-50%);
  -webkit-transform: translate(0,-50%);
}

.certifyBox .btnTxt span {
  display: inline-block;
  position: relative;
  color: #3971FF;
}

.certifyBox .btnTxt span:after {
  content: "";
  position: absolute;
  top: 6px;
  right: -12px;
  display: inline-block;
  width: 7px;
  height: 7px;
  border: 1px solid #3971FF;
  border-left: 0;
  border-bottom: 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.certifyBox .icoTarget {
  display: inline-block;
  margin: 0 0 -1px;
  width: 20px;
  height: 20px;
  vertical-align: sub;
  background: url("//img.echosting.cafe24.com/ec/dashboard/tutorial/ico_target.svg") no-repeat;
}

@media (max-width: 767px) {
  .certifyBox .btnTxt {
      position:initial;
      display: block;
      padding: 4px 24px 24px 52px;
      transform: none;
  }

  .certifyBox .direct .message {
      padding-bottom: 0;
  }
}

.flatpickr-calendar {
  background: transparent;
  opacity: 0;
  display: none;
  text-align: center;
  visibility: hidden;
  padding: 0;
  -webkit-animation: none;
  animation: none;
  direction: ltr;
  border: 0;
  font-size: 14px;
  line-height: 24px;
  border-radius: 5px;
  position: absolute;
  width: 307.875px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  background: #fff;
  -webkit-box-shadow: 1px 0 0 #e6e6e6,-1px 0 0 #e6e6e6,0 1px 0 #e6e6e6,0 -1px 0 #e6e6e6,0 3px 13px rgba(0,0,0,0.08);
  box-shadow: 1px 0 0 #e6e6e6,-1px 0 0 #e6e6e6,0 1px 0 #e6e6e6,0 -1px 0 #e6e6e6,0 3px 13px rgba(0,0,0,0.08);
}

.flatpickr-calendar.open,.flatpickr-calendar.inline {
  opacity: 1;
  max-height: 640px;
  visibility: visible;
}

.flatpickr-calendar.open {
  display: inline-block;
  z-index: 99999;
}

.flatpickr-calendar.animate.open {
  -webkit-animation: fpFadeInDown 300ms cubic-bezier(0.23,1,0.32,1);
  animation: fpFadeInDown 300ms cubic-bezier(0.23,1,0.32,1);
}

.flatpickr-calendar.inline {
  display: block;
  position: relative;
  top: 2px;
}

.flatpickr-calendar.static {
  position: absolute;
  top: calc(100% + 2px);
}

.flatpickr-calendar.static.open {
  z-index: 999;
  display: block;
}

.flatpickr-calendar.multiMonth .flatpickr-days .dayContainer:nth-child(n+1) .flatpickr-day.inRange:nth-child(7n+7) {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.flatpickr-calendar.multiMonth .flatpickr-days .dayContainer:nth-child(n+2) .flatpickr-day.inRange:nth-child(7n+1) {
  -webkit-box-shadow: -2px 0 0 #e6e6e6,5px 0 0 #e6e6e6;
  box-shadow: -2px 0 0 #e6e6e6,5px 0 0 #e6e6e6;
}

.flatpickr-calendar .hasWeeks .dayContainer,.flatpickr-calendar .hasTime .dayContainer {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.flatpickr-calendar .hasWeeks .dayContainer {
  border-left: 0;
}

.flatpickr-calendar.showTimeInput.hasTime .flatpickr-time {
  height: 40px;
  border-top: 1px solid #e6e6e6;
}

.flatpickr-calendar.noCalendar.hasTime .flatpickr-time {
  height: auto;
}

.flatpickr-calendar:before,.flatpickr-calendar:after {
  position: absolute;
  display: block;
  pointer-events: none;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  left: 22px;
}

.flatpickr-calendar.rightMost:before,.flatpickr-calendar.rightMost:after {
  left: auto;
  right: 22px;
}

.flatpickr-calendar:before {
  border-width: 5px;
  margin: 0 -5px;
}

.flatpickr-calendar:after {
  border-width: 4px;
  margin: 0 -4px;
}

.flatpickr-calendar.arrowTop:before,.flatpickr-calendar.arrowTop:after {
  bottom: 100%;
}

.flatpickr-calendar.arrowTop:before {
  border-bottom-color: #e6e6e6;
}

.flatpickr-calendar.arrowTop:after {
  border-bottom-color: #fff;
}

.flatpickr-calendar.arrowBottom:before,.flatpickr-calendar.arrowBottom:after {
  top: 100%;
}

.flatpickr-calendar.arrowBottom:before {
  border-top-color: #e6e6e6;
}

.flatpickr-calendar.arrowBottom:after {
  border-top-color: #fff;
}

.flatpickr-calendar:focus {
  outline: 0;
}

.flatpickr-wrapper {
  position: relative;
  display: inline-block;
}

.flatpickr-months {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flatpickr-months .flatpickr-month {
  background: transparent;
  color: rgba(0,0,0,0.9);
  fill: rgba(0,0,0,0.9);
  height: 28px;
  line-height: 1;
  text-align: center;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flatpickr-months .flatpickr-prev-month,.flatpickr-months .flatpickr-next-month {
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  top: 0px;
  line-height: 16px;
  height: 28px;
  padding: 10px;
  z-index: 3;
  color: rgba(0,0,0,0.9);
  fill: rgba(0,0,0,0.9);
}

.flatpickr-months .flatpickr-prev-month.disabled,.flatpickr-months .flatpickr-next-month.disabled {
  display: none;
}

.flatpickr-months .flatpickr-prev-month i,.flatpickr-months .flatpickr-next-month i {
  position: relative;
}

.flatpickr-months .flatpickr-prev-month.flatpickr-prev-month,.flatpickr-months .flatpickr-next-month.flatpickr-prev-month {
  left: 0;
}

.flatpickr-months .flatpickr-prev-month.flatpickr-next-month,.flatpickr-months .flatpickr-next-month.flatpickr-next-month {
  right: 0;
}

.flatpickr-months .flatpickr-prev-month:hover,.flatpickr-months .flatpickr-next-month:hover {
  color: #959ea9;
}

.flatpickr-months .flatpickr-prev-month:hover svg,.flatpickr-months .flatpickr-next-month:hover svg {
  fill: #f64747;
}

.flatpickr-months .flatpickr-prev-month svg,.flatpickr-months .flatpickr-next-month svg {
  width: 14px;
  height: 14px;
}

.flatpickr-months .flatpickr-prev-month svg path,.flatpickr-months .flatpickr-next-month svg path {
  -webkit-transition: fill 0.1s;
  transition: fill 0.1s;
  fill: inherit;
}

.numInputWrapper {
  position: relative;
  height: auto;
}

.numInputWrapper input,.numInputWrapper span {
  display: inline-block;
}

.numInputWrapper input {
  width: 100%;
}

.numInputWrapper input::-ms-clear {
  display: none;
}

.numInputWrapper span {
  position: absolute;
  right: 0;
  width: 14px;
  padding: 0 4px 0 2px;
  height: 50%;
  line-height: 50%;
  opacity: 0;
  cursor: pointer;
  border: 1px solid rgba(57,57,57,0.15);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.numInputWrapper span:hover {
  background: rgba(0,0,0,0.1);
}

.numInputWrapper span:active {
  background: rgba(0,0,0,0.2);
}

.numInputWrapper span:after {
  display: block;
  content: "";
  position: absolute;
}

.numInputWrapper span.arrowUp {
  top: 0;
  border-bottom: 0;
}

.numInputWrapper span.arrowUp:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid rgba(57,57,57,0.6);
  top: 26%;
}

.numInputWrapper span.arrowDown {
  top: 50%;
}

.numInputWrapper span.arrowDown:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid rgba(57,57,57,0.6);
  top: 40%;
}

.numInputWrapper span svg {
  width: inherit;
  height: auto;
}

.numInputWrapper span svg path {
  fill: rgba(0,0,0,0.5);
}

.numInputWrapper:hover {
  background: rgba(0,0,0,0.05);
}

.numInputWrapper:hover span {
  opacity: 1;
}

.flatpickr-current-month {
  font-size: 135%;
  line-height: inherit;
  font-weight: 300;
  color: inherit;
  position: absolute;
  width: 75%;
  left: 12.5%;
  padding: 6.16px 0 0 0;
  line-height: 1;
  height: 28px;
  display: inline-block;
  text-align: center;
  -webkit-transform: translate3d(0px,0px,0px);
  transform: translate3d(0px,0px,0px);
}

.flatpickr-current-month span.cur-month {
  font-family: inherit;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  margin-left: 0.5ch;
  padding: 0;
}

.flatpickr-current-month span.cur-month:hover {
  background: rgba(0,0,0,0.05);
}

.flatpickr-current-month .numInputWrapper {
  width: 6ch;
  width: 7ch\0;
  display: inline-block;
}

.flatpickr-current-month .numInputWrapper span.arrowUp:after {
  border-bottom-color: rgba(0,0,0,0.9);
}

.flatpickr-current-month .numInputWrapper span.arrowDown:after {
  border-top-color: rgba(0,0,0,0.9);
}

.flatpickr-current-month input.cur-year {
  background: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  cursor: text;
  padding: 0 0 0 0.5ch;
  margin: 0;
  display: inline-block;
  font-size: inherit;
  font-family: inherit;
  font-weight: 300;
  line-height: inherit;
  height: auto;
  border: 0;
  border-radius: 0;
  vertical-align: initial;
}

.flatpickr-current-month input.cur-year:focus {
  outline: 0;
}

.flatpickr-current-month input.cur-year[disabled],.flatpickr-current-month input.cur-year[disabled]:hover {
  font-size: 100%;
  color: rgba(0,0,0,0.5);
  background: transparent;
  pointer-events: none;
}

.flatpickr-weekdays {
  background: transparent;
  text-align: center;
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 28px;
}

.flatpickr-weekdays .flatpickr-weekdaycontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

span.flatpickr-weekday {
  cursor: default;
  font-size: 90%;
  background: transparent;
  color: rgba(0,0,0,0.54);
  line-height: 1;
  margin: 0;
  text-align: center;
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-weight: bolder;
}

.dayContainer,.flatpickr-weeks {
  padding: 1px 0 0 0;
}

.flatpickr-days {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 307.875px;
}

.flatpickr-days:focus {
  outline: 0;
}

.dayContainer {
  padding: 0;
  outline: 0;
  text-align: left;
  width: 307.875px;
  min-width: 307.875px;
  max-width: 307.875px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-transform: translate3d(0px,0px,0px);
  transform: translate3d(0px,0px,0px);
  opacity: 1;
}

.dayContainer + .dayContainer {
  -webkit-box-shadow: -1px 0 0 #e6e6e6;
  box-shadow: -1px 0 0 #e6e6e6;
}

.flatpickr-day {
  background: none;
  border: 1px solid transparent;
  border-radius: 150px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #393939;
  cursor: pointer;
  font-weight: 400;
  width: 14.2857143%;
  -webkit-flex-basis: 14.2857143%;
  -ms-flex-preferred-size: 14.2857143%;
  flex-basis: 14.2857143%;
  max-width: 39px;
  height: 39px;
  line-height: 39px;
  margin: 0;
  display: inline-block;
  position: relative;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.flatpickr-day.inRange,.flatpickr-day.prevMonthDay.inRange,.flatpickr-day.nextMonthDay.inRange,.flatpickr-day.today.inRange,.flatpickr-day.prevMonthDay.today.inRange,.flatpickr-day.nextMonthDay.today.inRange,.flatpickr-day:hover,.flatpickr-day.prevMonthDay:hover,.flatpickr-day.nextMonthDay:hover,.flatpickr-day:focus,.flatpickr-day.prevMonthDay:focus,.flatpickr-day.nextMonthDay:focus {
  cursor: pointer;
  outline: 0;
  background: #e6e6e6;
  border-color: #e6e6e6;
}

.flatpickr-day.today {
  border-color: #959ea9;
}

.flatpickr-day.today:hover,.flatpickr-day.today:focus {
  border-color: #959ea9;
  background: #959ea9;
  color: #fff;
}

.flatpickr-day.selected,.flatpickr-day.startRange,.flatpickr-day.endRange,.flatpickr-day.selected.inRange,.flatpickr-day.startRange.inRange,.flatpickr-day.endRange.inRange,.flatpickr-day.selected:focus,.flatpickr-day.startRange:focus,.flatpickr-day.endRange:focus,.flatpickr-day.selected:hover,.flatpickr-day.startRange:hover,.flatpickr-day.endRange:hover,.flatpickr-day.selected.prevMonthDay,.flatpickr-day.startRange.prevMonthDay,.flatpickr-day.endRange.prevMonthDay,.flatpickr-day.selected.nextMonthDay,.flatpickr-day.startRange.nextMonthDay,.flatpickr-day.endRange.nextMonthDay {
  background: #569ff7;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  border-color: #569ff7;
}

.flatpickr-day.selected.startRange,.flatpickr-day.startRange.startRange,.flatpickr-day.endRange.startRange {
  border-radius: 50px 0 0 50px;
}

.flatpickr-day.selected.endRange,.flatpickr-day.startRange.endRange,.flatpickr-day.endRange.endRange {
  border-radius: 0 50px 50px 0;
}

.flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n+1)),.flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n+1)),.flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n+1)) {
  -webkit-box-shadow: -10px 0 0 #569ff7;
  box-shadow: -10px 0 0 #569ff7;
}

.flatpickr-day.selected.startRange.endRange,.flatpickr-day.startRange.startRange.endRange,.flatpickr-day.endRange.startRange.endRange {
  border-radius: 50px;
}

.flatpickr-day.inRange {
  border-radius: 0;
  -webkit-box-shadow: -5px 0 0 #e6e6e6,5px 0 0 #e6e6e6;
  box-shadow: -5px 0 0 #e6e6e6,5px 0 0 #e6e6e6;
}

.flatpickr-day.disabled,.flatpickr-day.disabled:hover,.flatpickr-day.prevMonthDay,.flatpickr-day.nextMonthDay,.flatpickr-day.notAllowed,.flatpickr-day.notAllowed.prevMonthDay,.flatpickr-day.notAllowed.nextMonthDay {
  color: rgba(57,57,57,0.3);
  background: transparent;
  border-color: transparent;
  cursor: default;
}

.flatpickr-day.disabled,.flatpickr-day.disabled:hover {
  cursor: not-allowed;
  color: rgba(57,57,57,0.1);
}

.flatpickr-day.week.selected {
  border-radius: 0;
  -webkit-box-shadow: -5px 0 0 #569ff7,5px 0 0 #569ff7;
  box-shadow: -5px 0 0 #569ff7,5px 0 0 #569ff7;
}

.flatpickr-day.hidden {
  visibility: hidden;
}

.rangeMode .flatpickr-day {
  margin-top: 1px;
}

.flatpickr-weekwrapper {
  display: inline-block;
  float: left;
}

.flatpickr-weekwrapper .flatpickr-weeks {
  padding: 0 12px;
  -webkit-box-shadow: 1px 0 0 #e6e6e6;
  box-shadow: 1px 0 0 #e6e6e6;
}

.flatpickr-weekwrapper .flatpickr-weekday {
  float: none;
  width: 100%;
  line-height: 28px;
}

.flatpickr-weekwrapper span.flatpickr-day,.flatpickr-weekwrapper span.flatpickr-day:hover {
  display: block;
  width: 100%;
  max-width: none;
  color: rgba(57,57,57,0.3);
  background: transparent;
  cursor: default;
  border: none;
}

.flatpickr-innerContainer {
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

.flatpickr-rContainer {
  display: inline-block;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.flatpickr-time {
  text-align: center;
  outline: 0;
  display: block;
  height: 0;
  line-height: 40px;
  max-height: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flatpickr-time:after {
  content: "";
  display: table;
  clear: both;
}

.flatpickr-time .numInputWrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 40%;
  height: 40px;
  float: left;
}

.flatpickr-time .numInputWrapper span.arrowUp:after {
  border-bottom-color: #393939;
}

.flatpickr-time .numInputWrapper span.arrowDown:after {
  border-top-color: #393939;
}

.flatpickr-time.hasSeconds .numInputWrapper {
  width: 26%;
}

.flatpickr-time.time24hr .numInputWrapper {
  width: 49%;
}

.flatpickr-time input {
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  border-radius: 0;
  text-align: center;
  margin: 0;
  padding: 0;
  height: inherit;
  line-height: inherit;
  color: #393939;
  font-size: 14px;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.flatpickr-time input.flatpickr-hour {
  font-weight: bold;
}

.flatpickr-time input.flatpickr-minute,.flatpickr-time input.flatpickr-second {
  font-weight: 400;
}

.flatpickr-time input:focus {
  outline: 0;
  border: 0;
}

.flatpickr-time .flatpickr-time-separator,.flatpickr-time .flatpickr-am-pm {
  height: inherit;
  display: inline-block;
  float: left;
  line-height: inherit;
  color: #393939;
  font-weight: bold;
  width: 2%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.flatpickr-time .flatpickr-am-pm {
  outline: 0;
  width: 18%;
  cursor: pointer;
  text-align: center;
  font-weight: 400;
}

.flatpickr-time input:hover,.flatpickr-time .flatpickr-am-pm:hover,.flatpickr-time input:focus,.flatpickr-time .flatpickr-am-pm:focus {
  background: #f3f3f3;
}

.flatpickr-input[readonly] {
  cursor: pointer;
}

@-webkit-keyframes fpFadeInDown {
  from {
      opacity: 0;
      -webkit-transform: translate3d(0,-20px,0);
      transform: translate3d(0,-20px,0);
  }

  to {
      opacity: 1;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
  }
}

@keyframes fpFadeInDown {
  from {
      opacity: 0;
      -webkit-transform: translate3d(0,-20px,0);
      transform: translate3d(0,-20px,0);
  }

  to {
      opacity: 1;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
  }
}
