

.StyleDetail_fullScreen  {
    margin: 0 auto;
    padding: 0;
    margin-top: 215px;
    width: 640px;
    display: block;
    height: auto;

}

/* ----------------------------social_title---------------------------- */
.StyleDetail_title {
    width: 640px;
}

/* ----------------------social_head----------------- */
.StyleDetail_head {
    width: 100%;
    height: 68px;
    margin: 12px 0 12px 0;
    display: flex;
    align-items: center;
}
.StyleDetail_profile_img {
     width: 10%;
    height: 50px;
    display: flex;
    text-align: center;

    
}
.StyleDetail_profile_img img {
    border-radius: 50px;
    justify-content: center;
    object-fit: cover;
}
.StyleDetail_profile_text {
    width: 80%;
    display: block;
    text-align: left;
    margin-left: 20px;
}

.StyleDetail_follow_btn{
    background-color: black;
    color: white;
    font-size: 13px;
    width: 65px;
    height: 35px;
    margin-left: 10px;
    border-radius: 10px;

}

/* ----------------------social_body----------------- */
.StyleDetail_body {
    width: 100%;

    padding: 10px 0 10px 0;
}
.StyleDetail_main_img {
    width: 100%;
    height: auto;
}
.StyleDetail_main_img img {
    width: 640px;
    height: 640px;
    object-fit: cover;
}
.StyleDetail_main_img_list {
    width: 100%;
    max-width: 640px;
    height: 30px;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}

/* 이미지 슬라이드 스타일링 */
  
  .StyleDetail_image_slider {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .StyleDetail_image_sliderImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  
  .StyleDetail_pagination {
    text-align: center;

  }
  
  .StyleDetail_dot {
    font-size: 40px;
    margin: 0 5px;
    cursor: pointer;
    color: #ccc;
  }
  
  .StyleDetail_dot.active {
    color: #333;
  }
  
  .StyleDetail_prev {
    position: absolute;
    top: 80%;
    right: 70%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
  }
  .StyleDetail_next {
    position: absolute;
    top: 80%;
    left: 70%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    
  }

/* ---------------------interest-----------------  */
.StyleDetail_interest{
    padding: 10px 0 10px 0;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.StyleDetail_interest_like {
    width: 100px;
    height: 100%;
}
.StyleDetail_interest_attention {
    width: 100px;
    height: 100%;
}
.StyleDetail_interest_comment {
    width: 100px;
    height: 100%;
}
/* ---------------------social_text----------------- */
.StyleDetail_social_text{
    width: 100%;
    height: 100px;

  
}

.StyleDetail_text_title {
    font-size: 20px;
    margin-bottom: 10px;
}

.StyleDetail_text_tag {
    font-size: 15px;
}

/* ----------------------------social_container---------------------------- */
.StyleDetail_social_container{
    margin: 0 auto;
    padding: 0;
    width: 640px;
    height: 300px;

    border-top: 1px solid #B5B6B5;
    display: block;
    
    padding-bottom: 20px;
}
.StyleDetail_container_title{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 640px;
    font-size: 20px;
    font-weight: bold;
}
.more_btn{
    all: unset;
    font-size: 16px;
    color: #B5B6B5;
    
}
.more_Btn:hover{
    cursor: pointer;
}
.StyleDetail_container_img{
    width: 640px;
    height: 200px;
    display: flex;
    list-style-position: initial;
    gap: 10px;


}
.StyleDetail_container_img li {
    list-style: none;
}
.StyleDetail_container_img img {
    height: 200px;
    width: 150px;
    object-fit: cover;
}