
/* -----------------상품 조회수 및 상품 조회------------------ */

.ProductListMenu_Product_ListMenu {

    height: 50px;
    width: 1330px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 20px;
    align-items: center;
    margin: 0 auto;
    /* 가로 중앙 정렬 */

}

.ProductListMenu_prdCount {

    padding-left: 30px;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.ProductListMenu_prdCount strong {
    padding: 0 5px 0 5px;
}

.ProductListMenu_selectArray{

    padding-right: 30px;
    
}

.ProductListMenu_selArray {
  
    background: none;
    /* 배경 초기화 */
    border: 1px solid #ccc;
    /* 필요 시 추가 */
    height: 40px;
    font-size: 14px;

}

.ProductListMenu_selArray_displaynone {
    
    display: none;
}
