
/*_-------------------- 페이징 처리 ----------------------- */
.pagination  {
    width: 1280px;
    height: 50px;
    font-size: 14px;
    padding: 50px 0 50px 0;
    justify-content: center;
    align-items: center;
    display: flex;
    list-style: none;
    gap: 10px;


}

.pagination ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.pagination >ul > li {
    margin: 0 5px;
}

.pagination > ul > a {
    text-decoration: none;
    padding: 10px 10px;
    /* border: 1px solid #ddd; */
    color: #333;
}

/* .paging_ul a.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
} */
.pagination  a.disabled {
    color: #ccc;
    pointer-events: none;
}