/* Google Fonts - Jost */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap');

/* Pretendard CDN */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');


* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

.MyPageMileagecontainer #content{
  padding-bottom: 150px;
}

body{
  margin-top: 215px;
  font-family: 'Jost', 'Pretendard', '맑은고딕', 'Malgun Gothic', '돋움', Dotum, Helvetica, Arial, AppleGothic, sans-serif;
}

.MyPageMileagecontainer ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.MyPageMileagecontainer li{
  display: list-item;
  text-align: -webkit-match-parent;
  list-style: none;
  color: #757575;
}

.MyPageMileagecontainer a{
  text-decoration: none;
  font-size: 13px;
  color: #010101;
}

.MyPageMileagecontainer thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

.MyPageMileagecontainer table {
  width: 100%;
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
}

.MyPageMileagecontainer tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.MyPageMileagecontainer th {
  background-color: #f8f8f8;
  border-bottom: 1px solid #e8e8e8;
  padding: 15px 10px 16px;
}

.MyPageMileagecontainer button{
  border: none;
  margin: 0 0 0 -1px !important;
}

.MyPageMileagecontainer div{
  display: block;
}

.MyPageMileagecontainer select{
  background: #fff;
  background-size: 10px;
  padding-left: 10px;
  padding-right: 25px;
  font-size: 13px;
  max-width: 100%;
  height: 40px;
  padding: 0 30px 0 15px;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  vertical-align: middle;
}

.MyPageMileagecontainer img{
  transform: translate(0,5px);
}

/* 메인 컨테이너 스타일 */
.MyPageMileagecontainer #content {
  width: 1360px; /* 전체 너비 */
  margin: 0 auto; /* 중앙 정렬 */
  display: flex; /* 플렉스 컨테이너 */
  gap: 20px; /* 좌우 간격 */
}

/* 왼쪽 메뉴 스타일 */
.MyPageMileagecontainer .manuwrap {
  width: 200px; /* 고정 너비 */
  font-size: 16px; /* 글씨 크기 */
  line-height: 1.8; /* 행간 */
  background-color: #ffffff; /* 배경색 */
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.MyPageMileagecontainer .manuwrap h3{
  font-size: 18px;
  font-weight: bold;
}

.MyPageMileagecontainer .manuwrap article{
  line-height: 1,5;
}

.MyPageMileagecontainer .manuwrap article ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 5px;
}

.MyPageMileagecontainer article h4{
  font-size: 15px;
  font-weight: bold;
  margin: 0 0 20px;
}

.MyPageMileagecontainer .manuwrap article ul li a{
  color: var(--font-color-gray);
}

/* 오른쪽 콘텐츠 스타일 */
.MyPageMileagecontainer .contentwrap {
  width: 1130px;
  background-color: #ffffff; /* 배경색 */
}

.MyPageMileagecontainer .typeNav{
  position: relative;
}


.MyPageMileagecontainer .contentwraptitle{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 50px;
}


.MyPageMileagecontainer .menu {
  margin: 0 0 20px;
  background: #fff;
  box-sizing: border-box;
  height: 53px;
  padding: 0;
}

.MyPageMileagecontainer .basketfield{
  width :1130px;
  display:flex;
  justify-content: space-between;
}

.MyPageMileagecontainer .help{
  margin: 10px 0;
}

.MyPageMileagecontainer .help li{
  margin: 2px 0;
    padding: 2px 0 2px 22px;
    font-size: 12px;
    line-height: 19px;
    color: #6d6d6d;
}

.MyPageMileagecontainer .none{
  text-align: center;
  padding: 60px 0;
}

.MyPageMileagecontainer .basket1{
  width: 1130px;
}


/* 전체 컨테이너 */
.MyPageMileagecontainer .basketitem {
  width: 1130px;
  position: relative;

  background: #fff;
  box-sizing: border-box;
}

.MyPageMileagecontainer .prdBox{
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  border: 1px solid #e8e8e8;
  margin-bottom: 5px;
}

/* 체크박스 */
.MyPageMileagecontainer .check {
  margin-right: 10px;
  position: relative;
    opacity: 1;
    cursor: pointer;
    width: 15px;
    height: 15px;
    vertical-align: text-top;
    border: 1px solid #000;
    background: #fff;
}

/* 썸네일 이미지 */
.MyPageMileagecontainer .thumbnail img {
  border-radius: 5px;
  object-fit: cover;
  margin: 0 20px 0 0;
}

/* 상품 정보 */
.MyPageMileagecontainer .description {
  transform: translate(0,5px);
  width: 700px;
}

.MyPageMileagecontainer .description .price li {
  font-size: 12px;
  color: var(--font-color-lightgray);
  line-height: 20px;
}
.MyPageMileagecontainer .description .prdName {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 5px;
}

.MyPageMileagecontainer .info li {
  margin: 0 0 3px;
  font-size: 12px;
  color: var(--font-color-gray);
}

.MyPageMileagecontainer .discount{
  font-size: 12px;
    color: var(--font-color-lightgray);
    line-height: 20px;
    font-weight: 400;
}


.MyPageMileagecontainer .description .price li strong {
  font-size: 12px;
  color: var(--font-color-lightgray);
  line-height: 20px;
}

.MyPageMileagecontainer .description .info,
.MyPageMileagecontainer .description .optional {
  font-size: 0.85em;
  color: #777;
  margin-top: 5px;
}

.MyPageMileagecontainer .optional li{
  margin-bottom: 5px;
}

.MyPageMileagecontainer .prdBox a{
  transform: translate(0,5px);
}
/* 총 가격 */
.MyPageMileagecontainer .sumprice {
  transform: translate(215px,-10px);
  display: flex;
  font-size: 1.2em;
  font-weight: bold;
  color: #000;
  min-width: 80px;
  align-items: center
}

/* 수량 조절 */
.MyPageMileagecontainer .quentity {
  display: flex;
  align-items: center;
  margin: 0 347px 15px 188px;
}

.MyPageMileagecontainer .quentity .qtyBtnTotal {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.MyPageMileagecontainer .quentity input {
  width: 50px;
  height: 35px;
  text-align: center;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.MyPageMileagecontainer .quentity button {
  width: 35px;
  height: 35px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  line-height: 1em;
}

.MyPageMileagecontainer .quentity button:hover {
  background-color: #eee;
}

.MyPageMileagecontainer .buttonGroup{
  display: flex;
  justify-content: flex-end;

  align-items: flex-end;
}


/* 버튼 그룹 */
.MyPageMileagecontainer .buttonGroup a {
  display: inline-block;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 0.9em;
  color: #fff;
  border-radius: 5px;
  margin-right: 5px;
  transform: translate(3px, -5px);
}

.MyPageMileagecontainer .buttonGroup a img{
  transform: translate(28px,4px);
}

.MyPageMileagecontainer .buttonGroup .btnNormal {
  background-color: #555;
}

.MyPageMileagecontainer .buttonGroup .btnNormal:hover {
  background-color: #333;
}

.MyPageMileagecontainer .buttonGroup .orderBtn {
  border: 1px solid #e0e0e0;
    color: #000;
    background-color: #fff;
}

.MyPageMileagecontainer .buttonGroup .Basketbtn {
  border: 1px solid #000;
    font-weight: bold;
    background: #000;
    color: #ffffff;
}

.MyPageMileagecontainer .Basketbtn:hover{
  color: #f9f9f9;
  background-color: #444;
}

.MyPageMileagecontainer .orderBtn:hover{
  border: 1px solid #000;
}


.MyPageMileagecontainer .couponRegister{
  text-align: center;
  margin: 0 0 50px;
  text-align: center;

  height: 160px;
}

.MyPageMileagecontainer .couponRegisterBox{
    margin: 0 0 50px;
    padding: 37px;
    text-align: center;
    border: 1px solid #e5e5e5;
    border-top: 1px solid #000;
}

.MyPageMileagecontainer .order {
  flex: 1;
  display: flex;
  justify-content: space-around;
}

.MyPageMileagecontainer .order li {
  text-align: center;
}

.MyPageMileagecontainer .order li  strong{
  display: block;
  margin: 0 0 15px;
  font-size: 13px;
  color: var(--font-color-base);
  font-weight: 600;
}

.MyPageMileagecontainer .order li {
  font-size: 20px;
  color: var(--font-color-base);
  font-weight: bold;
}

.MyPageMileagecontainer th{
  background-color: #ffffff;
  border: none;
}

.MyPageMileagecontainer .prdBox .v1{
  padding: 19px 15px;
    line-height: 3.5;
    background: #f6f6f6;
    width: auto;
    text-align: center;
    border-right: 1px solid #f6f6f6;
}

.MyPageMileagecontainer .v2{
  padding: 19px 15px;
    line-height: 1;
    background: #f6f6f6;
    width: 1130px;
    height: 60px;
    border-right: 1px solid #f6f6f6;
}

.MyPageMileagecontainer .v2 span{
  margin-left: 20px;
}