
/* -----------------아이템 카드------------------  */

.BoardshoppingLi_board_list_body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: calc(325px *4);
    margin: 0 auto;
    gap: 0;
    padding: 0 15px 0 15px;
    justify-content: left;

}
.BoardshoppingLi_board_list_body .BoardshoppingLi_item {

    margin: 0 0 40px 0;
    padding: 0 5px 0 5px;
    width: 325px;
    height: 480px;
    font-size: 0;
    /* border: 2px solid #eee; */

    box-sizing: border-box;
}
.BoardshoppingLi_board_list_body .BoardshoppingLi_item:hover {
    /* 배경색 변화 */
    background-color: rgba(0, 0, 0, 0.1);
    /* 살짝 어두운 배경색 */

    /* 그림자 효과 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    /* 가벼운 그림자 */

    /* 확대 효과 */
    transform: scale(1.05);
    /* 5% 확대 */

    /* 부드러운 전환 효과 */
    transition: all 0.3s ease;
    /* 모든 속성에 대해 0.3초 동안 부드럽게 전환 */
}



.BoardshoppingLi_board_list_body .BoardshoppingLi_item>div {
    display: inline-block;
    text-align: center;
    font-size: 14px;
}

.BoardshoppingLi_board_list_body .BoardshoppingLi_item .BoardshoppingLi_board_img {
    width: 325px;
    height: 350px;
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
    display: block;
    text-size-adjust: 100%;
    font-size: 0;
    position: relative;
    transition: filter 0.BoardshoppingLi_3s ease;

}


.BoardshoppingLi_board_list_body .BoardshoppingLi_item .BoardshoppingLi_board_icon .BoardshoppingLi_sold_out_icon {

    width: 30%;
    /* align-items: center; */
    position: absolute;
    z-index: 2;
    display: none;
    background-color: initial;

}


.BoardshoppingLi_sold_out_img {
    filter: blur(3px);
}

.BoardshoppingLi_board_list_body .BoardshoppingLi_item .BoardshoppingLi_board_img .BoardshoppingLi_product_img {
    max-width: 100%;
    /* 최대 너비를 100%로 설정하여 부모 요소의 크기에 맞게 확장 */
    max-height: 100%;
    margin: 0 auto;
    padding: 0;
    display: block;
    background-size: auto;
    /* 원본 크기 그대로 유지 */
    background-repeat: no-repeat;
    /* 이미지 반복하지 않도록 설정 */
    background-position: center;
    /* 이미지를 요소 중앙에 배치 */
}

.BoardshoppingLi_board_list_body .BoardshoppingLi_item .BoardshoppingLi_board_content {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    height: 105px;
    width: 280px;
    line-height: 18px;
    margin: 0 auto;
    margin-top: 13px;
    padding: 0;
    row-gap: 10px;

}

.BoardshoppingLi_board_list_body .BoardshoppingLi_item .BoardshoppingLi_board_title {
    display: block;
    font-size: 13px;
    font-weight: 400;
    height: 40px;
    width: 100%;
    line-height: 18px;
    margin: 0;
    padding: 0;
    text-align: left;

}

.BoardshoppingLi_board_list_body .BoardshoppingLi_item .BoardshoppingLi_board_price {
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    height: 18px;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    row-gap: 5px;
    text-align: left;

}

.BoardshoppingLi_board_list_body .BoardshoppingLi_item .BoardshoppingLi_board_price>span {
    padding-left: 10px;
}

.BoardshoppingLi_board_list_body .BoardshoppingLi_item .BoardshoppingLi_board_price>span:first-child {
    padding-left: 0;
    text-decoration: line-through;
}

.BoardshoppingLi_board_list_body .BoardshoppingLi_item .BoardshoppingLi_board_name {
    font-size: 13px;
    height: 18px;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;

}

