
/* -------------------sns_container---------------- */
.SearchStyle_sns_container{
    margin: 0 auto;
    padding: 0;
    height: auto;
    width: 1280px;   
    display: flex;
   
}


.SearchStyle_detail_page_review_list_body {
    width: 100%;
    max-width: 1280px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;  
}

.SearchStyle_detail_page_review_list_item {
    flex: 1 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
    padding-left: 5px;
    height: 400px;
    text-align: center;
    list-style: none;
}

.SearchStyle_detail_page_review_list_item_img img {
    width: 280 px;
    height: 280px;
    margin-top: 10px;
    object-fit: contain;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    
}

/* -------------------리뷰 리스트 --------------- */



.SearchStyle_detail_page_review_content {
    width: 270px;
    height: 50px;
    margin: 0 auto;
    padding: 0;
    display: block;
    justify-content: center;

}

.SearchStyle_detail_page_review_title {
    width: 100%;
    padding: 0;
    height: 28px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;    

}

.SearchStyle_detail_page_review_title_img {
    justify-content: center;
    border-radius: 100px;
    width: 28px;
    height: 28px;

}

.SearchStyle_detail_page_review_title_id {
    width: 75%;
    margin-left: 5px;

}

.SearchStyle_detail_page_review_title_like {

    /* 만약 좋아요 script 기능 한 후 아이콘 벗어날 시 
    위의 아이디와 라이크 width 조정하거나 다시 정렬 */

}

.SearchStyle_detail_page_review_body_tag {
    width: 100%;
    font-size: 13px;
    margin-top: 10px;
    height: 40px;
}

