<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/totalsearchheader.css">
    <link rel="stylesheet" href="/CSS/searchStyle.css">
    <script src="/JavaScript/totalsearchheader.js" defer></script>
</head>

<body>
    <header class="full_screen">
        <!-- ------------------Search------------------ -->
        <div class="search">
            <form action="">
                <div class="search_container">
                    <input class="search_input" type="text" placeholder="Search">
                </div>
            </form>
        </div>

        <div class="navi">
            <ul>
                <li class="product"><a href="#">상품</a></li>
                <li class="style"><a href="#">스타일</a></li>
                <li class="profile"><a href="#">프로필</a></li>
            </ul>
        </div>
    </header>


       <!-- ----------------------SNS 형식 후기글------------------ -->
       <div class="sns_container">
        <ul class="detail_page_review_list_body">
            
                <li class="detail_page_review_list_item">
                    <div class="detail_page_review_list_item_img">
                        <img src="https://cafe24.poxo.com/ec01/enemy0000/fYw07Q+e08011Z5Qzbz300jECh5aaMmmDMQ7QH7NAQ9NK2EXhqgvmfbzfda0mDNO/Jp2ZgYE1irrrDpzeiP8fA==/_/web/product/big/202411/7d090c9573a58fe7fb7553e5cc8ea5b2.jpg" alt="">
                    </div>
                    <div class="detail_page_review_content">

                        <div class="detail_page_review_title">
                            <img src="https://fakeimg.pl/26x26/" alt="" class="detail_page_review_title_img">
                            <span class="detail_page_review_title_id">아이디</span>
                            <span class="detail_page_review_title_like">♡4</span>
                            <!-- 하트 이미지 다시 넣기  -->
                        </div>
                        <p class="detail_page_review_body_tag">#겨울코디추천 #겨울코디추천 #아우터추천 #연말선물 #연말룩 #사이즈팁 #KICKS
                        </p>
                    </div>
                </li>
            
                <li class="detail_page_review_list_item">
                    <div class="detail_page_review_list_item_img">
                        <img src="https://fakeimg.pl/262x262/" alt="">
                    </div>
                    <div class="detail_page_review_content">

                        <div class="detail_page_review_title">
                            <img src="https://fakeimg.pl/26x26/" alt="" class="detail_page_review_title_img">
                            <span class="detail_page_review_title_id">아이디</span>
                            <span class="detail_page_review_title_like">♡4</span>
                            <!-- 하트 이미지 다시 넣기  -->
                        </div>
                        <p class="detail_page_review_body_tag">#겨울코디추천 #겨울코디추천 #아우터추천 #연말선물 #연말룩 #사이즈팁 #KICKS
                        </p>
                    </div>
                </li>
            
                <li class="detail_page_review_list_item">
                    <div class="detail_page_review_list_item_img">
                        <img src="https://fakeimg.pl/262x262/" alt="">
                    </div>
                    <div class="detail_page_review_content">

                        <div class="detail_page_review_title">
                            <img src="https://fakeimg.pl/26x26/" alt="" class="detail_page_review_title_img">
                            <span class="detail_page_review_title_id">아이디</span>
                            <span class="detail_page_review_title_like">♡4</span>
                            <!-- 하트 이미지 다시 넣기  -->
                        </div>
                        <p class="detail_page_review_body_tag">#겨울코디추천 #겨울코디추천 #아우터추천 #연말선물 #연말룩 #사이즈팁 #KICKS
                        </p>
                    </div>
                </li>

                <li class="detail_page_review_list_item">
                    <div class="detail_page_review_list_item_img">
                        <img src="https://fakeimg.pl/262x262/" alt="">
                    </div>
                    <div class="detail_page_review_content">

                        <div class="detail_page_review_title">
                            <img src="https://fakeimg.pl/26x26/" alt="" class="detail_page_review_title_img">
                            <span class="detail_page_review_title_id">아이디</span>
                            <span class="detail_page_review_title_like">♡4</span>
                            <!-- 하트 이미지 다시 넣기  -->
                        </div>
                        <p class="detail_page_review_body_tag">#겨울코디추천 #겨울코디추천 #아우터추천 #연말선물 #연말룩 #사이즈팁 #KICKS
                        </p>
                    </div>
                </li>

                <li class="detail_page_review_list_item">
                    <div class="detail_page_review_list_item_img">
                        <img src="https://fakeimg.pl/262x262/" alt="">
                    </div>
                    <div class="detail_page_review_content">

                        <div class="detail_page_review_title">
                            <img src="https://fakeimg.pl/26x26/" alt="" class="detail_page_review_title_img">
                            <span class="detail_page_review_title_id">아이디</span>
                            <span class="detail_page_review_title_like">♡4</span>
                            <!-- 하트 이미지 다시 넣기  -->
                        </div>
                        <p class="detail_page_review_body_tag">#겨울코디추천 #겨울코디추천 #아우터추천 #연말선물 #연말룩 #사이즈팁 #KICKS
                        </p>
                    </div>
                </li>
            
                
        </ul>

       
 </div>
</body>

</html>